<!DOCTYPE html>
<html>

<head>
  <title>Umbrella77 - Firebase 3.x Basic setup</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/views/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://use.fontawesome.com/046fdc42eb.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Firebase Custom Authentication<small class="author">by Jihdeh</small></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="currentUserEmail"></li>
          <li><a href="https://github.com/jihdeh/firebase30CustomAuth" target="_blank"><i class="fa fa-github fa-1x"></i></a></li>
          <li><a href="https://twitter.com/slim_temple" target="_blank"><i class="fa fa-twitter fa-1x"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <h2>You are now logged in oh</h2>
  <button class="btn waves-effect waves-light submit-btn" type="submit" id="logout">LOGOUT
    <i class="material-icons right">send</i>
  </button>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <script src="/js/firebase-config.js"></script>
  <script src="/js/auth.js"></script>
</body>

</html>
